.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding:10px;
  }
  
  .modal-content {
    background: #1E293B;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    padding: 2.5rem;
    margin:8px;
    animation: fadeIn 0.3s ease;
  }

  .modal-content h2{
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .modal-content p{
    padding: 10px;
    font-size: 16px;
    white-space: normal;
    overflow-wrap: break-word; 
    word-wrap: break-word;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .form-group select{
    width:96%;
  }

  /* *{
    border: 1px solid red;
  } */

  .form-group-error{
    color: var(--error-color);
    margin-top:-15px;
    margin-bottom:10px;
    text-align: start;
    margin-left: 14px;
  }
  
  .search-results {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
    background: #2A3749;
    z-index: 1001; 
  }
  
  .search-result-item {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    margin-bottom:3px;
    transition: background-color 0.2s;
  }
  
  .search-result-item:hover {
    background: #525b6b;
  }
  
  .search-result-item:last-child {
    border-bottom: none;
  }
  
  .selected-users {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0.5rem;
  }
  
  .selected-user {
    background: #bcdff0;
    padding: 0.25rem 0.8rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color:black;
  }
  
  .selected-user button {
    background: none;
    border: none;
    color: #3b3232;
    cursor: pointer;
    padding: 0;
    font-size: 1.2rem;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .paid-by-container{
    text-align:start;
  }

  .paid-by-container label{
    font-weight: bold;
    margin-bottom:0.5rem !important;
    display:inline-block;
    /* width:18%; */
  }


  
  .submit-button,
  .cancel-button {
    padding: 1rem 1.4rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .submit-button {
    background: var(--primary-color);
    color: white;
    border: none;
  
  }

  .submit-button:not([disabled]):hover {
    background-color: var(--primary-hover-color);
  }
  
  .cancel-button {
    background-color: #f44336;
    color:white;
  }

  .cancel-button:hover {
    background-color: var(--cancel-hover-color);
  }