.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    /* background: linear-gradient(135deg, #6a11cb, #2575fc); */
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    max-width:1100px;
  }

  /* *{
    border: 2px solid red;
  }
   */
  .navbar-left .app-name {
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    color: #2642b1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .navbar-right .btn {
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    margin-left: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .navbar-right .login-btn {
    background-color: #0b8138;
    color: #fff;
  }
  
  .navbar-right .signup-btn {
    background-color: #e79f34;
    color: #fff;
  }
  
  .navbar-right .logout-btn {
    background-color: #d9534f;
    color: #fff;
  }
  
  .navbar-right .btn:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
  
  .navbar-right .btn:active {
    transform: scale(0.95);
  }