.group-card {
  background: rgba(255, 255, 255, 0.03);
  /* backdrop-filter: blur(10px); */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
}

.group-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--primary-color);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.group-card:hover::before {
  opacity: 1;
}

.group-card-heading {
  padding: 4px 10px;
  font-size: 16px;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: start;
}

.group-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  background: var(--glasscard-heading);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.group-info {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  background: var(--glasscard-text-background);
  color:var(--glasscard-text);
  border-radius: 12px;
  border: 1px solid rgba(0, 86, 210, 0.08);
}

.group-info div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--glassheading-text);
  font-size: 0.95rem;
  font-weight: 500;
}

.group-info svg {
  color: #0056d2;
}

.group-actions {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}

.group-actions button {
  flex: 1;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.95rem;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
}

.view-details {
  background: var(--primary-color);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 86, 210, 0.15);
  will-change: transform;
  transition: all 0.3s ease;
}

.view-details:hover {
  transform: scale(1.05);
}

.delete-card-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.delete-card-icon svg {
  color: rgb(241, 109, 109);
  font-size: 1.2rem;
  transition: all 0.3s ease;
  will-change: transform;
}

.delete-card-icon svg:hover {
  transform: scale(1.1);
}

.confirm-delete-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-expense {
  background: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color) !important;
  box-shadow: 0 2px 4px rgba(0, 86, 210, 0.08);
  will-change: transform;
  transition: all 0.3s ease;
}

.add-expense:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .group-card {
    padding: 1.2rem;
  }

  .group-info {
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
  }

  .group-actions {
    flex-direction: column;
  }
}
