.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    z-index: 100;
  }
  
  .search-input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .search-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--neutral-400);
  }
  
  .search-input {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    border: 2px solid var(--neutral-200);
    border-radius: var(--radius-lg);
    font-size: 1rem;
    background-color: white;
    transition: var(--transition-all);
  }
  
  .search-input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px var(--primary-100);
  }

  .search-input:focus svg {
   background-color: red;
  }
  
  .search-suggestions {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    right: 0;
    background-color: white;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
    max-height: 300px;
    overflow-y: auto;
    animation: scaleIn 0.2s ease;
  }
  
  .suggestion-item {
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid var(--neutral-100);
    transition: var(--transition-all);
    background-color: rgb(173, 173, 214);
    margin:10px;
  }
  
  .suggestion-item:last-child {
    border-bottom: none;
  }
  
  .suggestion-item:hover {
    background-color: rgb(142, 142, 234);
  }
  
  .suggestion-name {
    font-weight: 500;
    color: var(--neutral-800);
    margin-bottom: 0.25rem;
  }
  
  .suggestion-details {
    display: flex;
    gap: 1rem;
    color: var(--neutral-500);
    font-size: 0.875rem;
  }
  
  .suggestion-details span {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .suggestion-loading,
  .no-suggestions {
    padding: 1rem;
    text-align: center;
    color: var(--neutral-500);
  }

  @media (max-width: 1024px) {

  }
  
  @media (max-width: 767px) {
    .search-container {
      max-width: 100%;
    }

    .search-input{
      width:85% !important;
    }
  }


  @media (max-width: 467px){
    .search-input{
      width:84% !important;
    }
  }