.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}

.auth-card {
  background: var(--glasscard-background);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding:2rem;
  width: 100%;
  max-width: 400px;
}



.auth-card h2 {
  margin-bottom: 2.3rem;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: bold;
  text-align: start;
  margin-top:-1px;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--border-dim-color);
  color:var(--glasscard-text);
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--glasscard-text-background);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:focus {
  outline: none;
  background:transparent;

  border-color: var(--primary-color);
  box-shadow: 0 0 6px rgba(69, 123, 157, 0.3);
}

.form-group .special-label{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 1rem;
  transition: all 0.3s;
  pointer-events: none;
  padding: 0 5px;
}


.password-group {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 55%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888; 
  font-size: 1.2rem;
}

.eye-icon:hover {
  color: #3498db; 
}


.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: -5px;
  font-size: 0.85rem;
  background:#253041;
  color: var(--primary-color);
}


input:-internal-autofill-selected {
  background-color: white !important;
}

.error-text {
  text-align: left;
  color: var(--error-color);
  font-size: 0.875rem;
  margin-top:-16px;
  margin-bottom:25px;
  margin-left: 6px;
}

.error-message {
  background-color: #fdecea;
  color: var(--error-color);
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1.3rem;
  text-align: center;
}

.auth-button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  will-change: transform;
}

.auth-button:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.03);
}

.auth-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.auth-link {
  text-align: center;
  margin-top: 1.4rem;
  color: #7f8c8d;
}

.link {
  color: #3498db;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .auth-card {
    padding: 1.5rem;
  }
 
}